body {
  background-color: #edf6f6;
}
hr {
  border-style: dotted none none;
  border-width: 7px;
  border-color: #d8e3e7;
  width: 4%;
}
h3, strong {
  color: #66bfbf;
}
h1 {
  color: #5f939a;
}
